$default-light-color: #fff;
$default-light-bg: #fff;

$default-dark-color: #000;
$default-dark-bg: #000;

$alternate-color: #000;
$alternate-bg: #FAFAFA;

$exposed-color: $default-light-color;
$exposed-bg: #4495FF;
