@import "variables";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;

  strong {
    font-weight: 400;
  }
}

section {
  &.content {
    padding: 50px 0;
  }

  &.default {
    background: $default-light-color;
    color: $default-dark-color;
  }

  &.alternate {
    background: $alternate-bg;
    color: $alternate-color;
  }

  &.exposed {
    background: $exposed-bg;
    color: $exposed-color;
  }
}

#jumbo {
  background: $default-dark-bg url('../img/JumboBg.png') no-repeat top center;
  height: 500px;

  padding-top: 20px;

  color: $default-light-color;

  text-align: center;

  .navbar-inverse {
    background: transparent;
  }

  h1 {
    margin: 150px auto 20px auto;
  }
}

#motto {
  text-align: center;

  padding: 15px 0;

  p {
    margin: 0;
  }
}

